.login-bar {
    display: inline-block;
    width: 132px;
    height: 42px;
    background-image: url('/img/White-signin_Medium_base_32dp.png');
    cursor: pointer;
    border: none;
    margin: 0px;
    padding: 0px;
}

.logo {
    margin-top: 100px;
    margin-bottom: 30px;
}

.logo-small {
    padding: 10px;
}

.editable-field {
    cursor: pointer;
}

.top-row {
    height: 100px;
}

.login-bar:hover {
    background-image: url('/img/White-signin_Medium_hover_32dp.png');
}

.log_chart {
	height: 400px;
}