<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	ng-app="paApp">

<head>
<meta charset="utf-8" />
<title>&#x1F511; rakink</title>

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/css/style.css" />

<script type="text/javascript" src="/webjars/angular/angular.js"></script>
<script type="text/javascript"
	src="/webjars/angular-ui-utils/ui-utils.js"></script>
<script type="text/javascript" src="/js/ui-bootstrap-tpls-0.9.0.min.js"></script>

<script src="/js/pa.js"></script>
</head>

<body ng-controller="LogsController as lc">
	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>

	<div class="container">
		<div class="row top-row"></div>
		<div class="row">
			<div class="col-lg-12">
				<h1>Apsilankymai paskutinį mėnesį</h1>
				<div class="log_chart" id="dailyLog"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1>Durys paskutinę savaitę</h1>
				<div class="log_chart" id="hourlyLog"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1>Pinigai</h1>
				<div class="log_chart" id="financeLog"></div>
			</div>
		</div>
	</div>



</body>
</html>